body {
    background-color: azure;
   }
.risograph {
    box-sizing: border-box;
    height: max-content;
    width: max-content;
    background-color: white;
    padding: 1rem;
    border: 2px solid gray;
    margin: 1.5rem 0.5rem;
}
.graphic-design {
    box-sizing: border-box;
    height: max-content;
    width: max-content;
    background-color: white;
    padding: 1rem;
    border: 2px solid gray;
    margin: 1.5rem 0.5rem;
}
.horror {
    box-sizing: border-box;
    height: max-content;
    width: max-content;
    background-color: white;
    padding: 1rem;
    border: 2px solid gray;
    margin: 1.5rem 0.5rem;
}
.container {
    background-color: pink;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
h1 {
    color: darkslateblue;
}
h2 {

    color: darkslateblue;
    width: 50%;
}
h3 {
    color:darkslateblue
}
p {
    width: 100%;
}
p::first-letter {
    font-size: 200%;
}
ul {
    list-style-type: none;
}
img {
    border-style: solid;
    border-color: lightsalmon;
    border-width: 2px;
    height: 40%;
   }
a[href="https://williams-sonoma.com"] {
    background-color: #252525;
   }
a[href="https://buywithprime.amazon.com"] {
    background-color: #00a8e1;
   }
a:hover {
    text-decoration: underline;
    color:blueviolet;
    background-color: aquamarine;

}
a:visited {
    color: pink;
}
.fa-ghost {
    color: darkslateblue;
}
.fa-palette {
    color: darkslateblue;
}
.fa-print {
    color: darkslateblue;
}
footer {
    font-family: Ojuju, serif;
    color:darkcyan;
    font-size: 75%;
}



