body {
    background-color: azure;
   }
.risograph {
    box-sizing: border-box;
    height: max-content;
    width: max-content;
    background-color: white;
    padding: 1rem;
    margin: 1rem 0.5rem;
}
.graphic-design {
    box-sizing: border-box;
    height: max-content;
    width: max-content;
    background-color: white;
    padding: 1rem;
    margin: 1rem 0.5rem;
}
.horror {
    box-sizing: border-box;
    height: max-content;
    width: max-content;
    background-color: white;
    padding: 1rem;
    margin: 1rem 0.5rem;
}
.container {
    background-color: pink;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0.5rem;
}
div:not(.container):hover {
    border: 3px solid gray;
    transition: border 3s ease-in 1s;
}
h1 {
    color: darkslateblue;
}
h2 {

    color: darkslateblue;
    width: 50%;
}
h3 {
    color:darkslateblue
}
p {
    width: 100%;
}
p::first-letter {
    font-size: 200%;
}
ul {
    list-style-type: none;
}
li:nth-child(even) {
    background: lightgreen;
  }
li:nth-child(odd) {
    background: lightskyblue;
  }
img {
    border-style: solid;
    border-color: lightsalmon;
    border-width: 2px;
   }
img:hover {
    opacity: 0.4;
    transition: 4s;
}
a[href="https://williams-sonoma.com"] {
    background-color: #252525;
   }
a[href="https://buywithprime.amazon.com"] {
    background-color: #00a8e1;
   }
a:hover {
    text-decoration: underline;
    color:blueviolet;
    background-color: aquamarine;
}
a:visited {
    color: pink;
}
.fa-ghost {
    color: darkslateblue;
}
.fa-palette {
    color: darkslateblue;
}
.fa-print {
    color: darkslateblue;
}
footer {
    font-family: Ojuju, serif;
    color:darkcyan;
    font-size: 75%;
}



